/*#0090E3 JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#anchor{
    -fx-background-image: url("file:///C:/Users/Mohamad%20Naji/eclipse-workspace/java/parallel_Project1/View/three-way-intersection-hi.png");   
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: cover;
	-fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);      
}

.label{
  	-fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-text-fill:  #0090E3;
    -fx-background-radius: 50.0;
    -fx-font-size: 22.0;
    
    -fx-border-color: #0090E3;
    -fx-border-width: 3.0;
    -fx-border-radius: 40;
 
}

.button {
    -fx-font-weight: bold;
    -fx-background-color:#dd333b;
    -fx-font-size: 22.0;
    -fx-background-radius: 35.0;
    
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4.0;
    -fx-border-radius: 30.0;
    
    
}



.button:hover{
    
  	-fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-text-fill:  #dd333b;
    -fx-background-radius: 50.0;
    -fx-font-size: 22.0;
    
    -fx-border-color: #dd333b;
    -fx-border-width: 3.0;
    -fx-border-radius: 60.0;
 
}

.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill: #dd333b;
    -fx-border-color:#dd333b /*#00BCD4*/;
    -fx-border-width: 3.0;
    -fx-rotate: 5.0;
    
}
